@import '../../styles/variables.scss';

.root {
	position: relative;
	width: 100%;
	margin-top: calc($GLOBAL-MARGIN * 4);
	margin-bottom: $GLOBAL-MARGIN;
	text-align: center;
}

.wrapper {
	margin: 0;
	padding: 0 $GLOBAL-MARGIN;

	@include lg {
		width: 80%;
		margin: 0 auto;
		font-size: 18px;
		padding: 0px;
	}

	.desktop {
		display: none;

		@include sm {
			display: block;
		}
	}

	.mobile {
		display: block;

		@include sm {
			display: none;
		}
	}
}