@import '../../styles/variables.scss';

.root {
	position: relative;
	width: 100%;
	display: flex;
	align-items: flex-end;
	padding-top: calc($GLOBAL-MARGIN * 4);
	padding-bottom: $GLOBAL-MARGIN;
}

.wrapper {
	margin: 0;
	padding: 0 $GLOBAL-MARGIN;

	.desktop {
		display: none;
	
		@include lg {
			display: block;
			width: 80%;
			margin: 0 auto;
		}
	}

	.mobile {
		display: block;
	
		@include lg {
			display: none;
		}
	}
}
