@import '../styles/breakpoints.scss';
@import '../styles/variables.scss';

.root {
	position: relative;
	width: 100%;
	margin-top: $GLOBAL-MARGIN;
	// background-color: $GRAY-COLOR;
}

.wrapper {
	margin: 0;
	background-color: white;
	// padding: 0 $GLOBAL-MARGIN;
	// text-align: center;

	// @include md {
	// 	text-align: left;
  	// }	

	@include lg {
		width: 80%;
		margin: 0 auto;
		font-size: 18px;
		padding: 0px;
	}

}
.raw {
	display: flex;	
	align-items: flex-start;
	flex-direction: column;
	width: 100%;

	@include sm {
		flex-direction: row;
	}	
}

.text_wrapper {
	margin-left: 5%;
}

.image_ratio {
	padding-top: 102% !important;

	.inner {
		background-color:gray;
	}
}

.column_1 {
	width: 10%;
	background-color: $GRAY-COLOR;
}
.column_2 {
	// width: calc(100vw - 20vw) / 3;
	width: 26.6%;
	background-color: aqua;
}
.column_3 {
	width: 26.6%;
	background-color: lightgreen
}
.column_4 {
	width: 26.6%;
	background-color: lightskyblue
}
.column_5 {
	width: 10%;
}

.column_12 {
	display: flex;
	justify-content: end;
	width: auto;
	padding-left: 0px;
	background-color: $GRAY-COLOR;

	@include sm {
		padding-left: $GLOBAL-MARGIN;
	}

	@include lg {
		width: 36.6%;
		padding-left: 0px;
	}

	@include xxxl {
		width: 734px;
	}
}

.column_12B {
	width: 100vw;
	max-width: 100vw;	
	background-color: lightseagreen;

	@include sm {
		width: 26.6vw;
		max-width: 455px;
	}

}

.ratio_container {
	padding: 0 35px;

	@include sm {
		padding: 0px;
	}	
}

.column_34 {
	display: flex;
	width: 53.2%;
	background-color: lightgreen
}