@import '../styles/breakpoints.scss';
@import '../styles/variables.scss';

.root {
	position: relative;
	width: 100%;
	padding-top: $GLOBAL-MARGIN;
	font-weight: 600;
	letter-spacing: 4px;
}

.wrapper {
	margin: 0;
	padding: 0 $GLOBAL-MARGIN;
	text-align: center;
	font-size: 30px;
	max-width: 1366px;
	color: $GOLDEN-COLOR;

	@include md {
		text-align: left;
  	}	

	@include lg {
		width: 80%;
		margin: 0 auto;
		padding: 0px;
	}

}
