@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import '../styles/variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #00020a;
	font-weight: lighter;

}

h1, h2, h3, h4, h5, h6 {
  color: $HEADER-COLOR;
  font-weight: lighter;
  font-size: 20px;
}