@import './breakpoints.scss';

$COLOR_A: red;
$COLOR_B: blue;
$COLOR_C: yellow;
$COLOR_D: magenta;
$COLOR_E: greenyellow;
$COLOR_F: purple;
$COLOR_G: gray;
$COLOR_H: lightgreen;

$COLOR_A: 'transparent';
$COLOR_B: 'transparent';
$COLOR_C: 'transparent';
$COLOR_D: 'transparent';
$COLOR_E: 'transparent';
$COLOR_F: 'transparent';
$COLOR_G: 'transparent';
$COLOR_H: 'transparent';

$HERO-HEIGHT: 375px;
$CAROUSEL-HIGHT: 546px;
$GLOBAL-MARGIN: 35px;

$FONT-COLOR: #00020a;
$GOLDEN-COLOR: #ba8704;
$PURPLE-COLOR: #53276b;
$LIGHT-PURPLE-COLOR: #b8a6bb;
$GRAY-COLOR: #f0f0f0;
